# Dependencias
node_modules
npm-debug.log*

# Next.js
.next/
out/
build

# Archivos de desarrollo
.git
.gitignore
README.md
Dockerfile
.dockerignore

# Variables de entorno locales
.env*.local

# Archivos IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log